/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background: white;
  font: 13.34px 'Lato', Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
  font-weight: 400;
  color: #444;
}

h1, h2, h3, h4, h5, h6 { color: black; }
h1 { margin-bottom: 1em; margin-top: 1em; }
h2, h3, h4, h5, h6 { margin: 2em inherit 1em inherit; }

p, ul { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

ul {
  padding-left: 25px;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

#home {
  margin-top: 250px;
}

.page, .post {
  margin-top: 40px;
  /*font-size: 1.2em;*/
}

.banner {
  background-image: url(../images/me-header-blur.jpg);
  position: absolute;
  top: 0;
  height: 300px;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

.banner-page {
  position: absolute;
  top: 0;
  height: 66px;
  left: 0;
  right: 0;
  background-color: black;
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
  padding-left: 0;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
  float: right;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 0em auto 2em;
  line-height: 1.5em;
}

.site img {
  max-width: 42em;
}

.header {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  z-index: 1;
}

.header a {
  font-weight: 600;
  text-decoration: none;
}

.title {
  color: white;
  font-size: 1.5em;
  display: inline-block;
}

.title a {
  color: white;
}

.title a:hover {
  color: #eee;
}

.title a span {
  font-weight: 100;
}

.site-menu {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 1em;
  font-size: 1.5em;
}

.site-menu a.extra {
  color: #ccc;
  margin-left: 1em;
  font-size: 0.70em;
}

.site-menu a.extra:hover {
  color: #fff;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

hr {
  border: 0;
  margin: 25px 0;
  height: 1px;
  background: black;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  padding: 1em;
  margin: 1em 0;
  overflow: scroll;

  border: 1px solid #ddd;
  background-color: #eee;
  color: #000;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 0 .2em;
  white-space: pre;
}

.post pre code {
  border: none;
  background-color: #eee;
  padding: 0;
  white-space: pre;
}

blockquote {
  color: #000;
  border-left: 10px solid #eee;
  padding: 0 1em;
}

blockquote pre code {
  color: inherit;
}

blockquote code {
  color: inherit;
}

.gist .gist-file div.gist-data.gist-syntax {
  background-color: #fff;
}

/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/

.paintings > a {
  float: left;
  height: 160px;
  margin-right: 1em;
}
.paintings > a > img {
  height: 160px;
}

.paintings > a:last-child {
  clear: left;
  float: none;
  margin-right: 0;
}

/*****************************************************************************/
/*
/* Small screens
/*
/*****************************************************************************/

@media (max-width: 640px) {
  .banner-page {
    position: relative;
    top: -66px;
    height: 66px;
    left: auto;
    right: auto;
    background-color: black;
    margin-bottom: -60px;
  }
  .banner {
    position: relative;
    top: -316px;
    height: 300px;
    left: auto;
    right: auto;
    background-color: black;
    margin-bottom: -330px;
  }
  .site img {
    max-width: 100%;
  }
  .page > h1 ,
  .page > h2 ,
  .page > h3 ,
  .page > p ,
  .page > ul ,
  .page > ol ,
  .post > h1 ,
  .post > h2 ,
  .post > h3 ,
  .post > p ,
  .post > ul ,
  .post > ol ,
  .post-content > h1 ,
  .post-content > h2 ,
  .post-content > h3 ,
  .post-content > p ,
  .post-content > ul ,
  .post-content > ol ,
  .posts {
    margin-left: 20px;
    margin-right: 20px;
  }
  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .page > ul ,
  .post-content > ul ,
  .post > ul {
    margin-left: 30px;
  }
  .page > ol,
  .post-content > ol ,
  .post > ol {
    margin-left: 65px;
  }
  .header > * {
    margin-left: 20px;
    margin-right: 20px;
  }

  #disqus_thread {
    margin: 20px;
  }
}

@media (max-width: 400px) {
  .posts li span {
    display: none;
  }
  .page > h1 ,
  .page > h2 ,
  .page > h3 ,
  .page > p ,
  .page > ul ,
  .page > ol ,
  .post > h1 ,
  .post > h2 ,
  .post > h3 ,
  .post > p ,
  .post > ul ,
  .post > ol ,
  .post-content > h1 ,
  .post-content > h2 ,
  .post-content > h3 ,
  .post-content > p ,
  .post-content > ul ,
  .post-content > ol ,
  .posts {
    font-size: 1.8em;
    line-height: 1.5em;
  }
  .footer {
    font-size: 1.4em;
    line-height: 1.2em;
  }
  .slide-style {
    font-size: 1.1em;
  }
}
