@media (max-width: 43em) {

  #site {
    margin: 0 2em;
    width: auto;

    #header {
      left: 0;
      right: 0;
      margin-left: 2em;
      margin-right: 2em;
      width: auto;
    }

    #submenu {
      left: 0;
      right: 0;
      margin-left: 2em;
      margin-right: 2em;
      margin-top: 1px;
      width: auto;
    }
  }
}

@media(max-width: 475px) {

  #header,
  #submenu,
  #home {
    margin-left: 1em;
    margin-right: 1em;
  }

  .content {
    font-size: 90%;
  }

  ul#posts.list {
    padding-left: 4.5em;
    li {
      text-indent: -2em;
      span {
        display: none;
      }
    }
  }
}
