<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Jimmy Schementi{% if page.title != "Jimmy Schementi" %} >  {{ page.title }}{% endif %}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/about">about</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Jimmy Schementi<br />
                Software Engineer<br />
                jimmy@schementi.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a target='_blank' href="https://github.com/jschementi">github.com/jschementi</a><br />
                <a target='_blank' href="https://twitter.com/jschementi">twitter.com/jschementi</a><br />
                <a target='_blank' href="http://www.linkedin.com/in/jschementi">linkedin.com/in/jschementi</a><br/>
                <a target='_blank' href="https://www.facebook.com/jschementi">facebook.com/jschementi</a><br />
                <a target='_blank' href="http://instagram.com/jschementi">instagram.com/jschementi</a><br/>
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
